@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global custom CSS here if you want */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }